USE [CreditcardDB]
GO
/****** Object:  StoredProcedure [dbo].[ValidateCreditCard]    Script Date: 11/26/2018 1:52:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ValidateCreditCard]
(
	@P_CARDNUMBER VARCHAR(25),
	@P_EXPRIRYDATE VARCHAR(25)
	
) AS

SET NOCOUNT ON	
BEGIN
	BEGIN TRY
	
	DECLARE @TAB TABLE 
		 (
			CARDNUMBER NVARCHAR(25),
			CARDTYPE  NVARCHAR(50),
			ISVALID NVARCHAR(25),
			ISEXIST NVARCHAR(25)
		 )
		
		 DECLARE @CARDTYPE NVARCHAR(50)
		 DECLARE @ISVALID NVARCHAR(50)
		 SET	 @ISVALID = 'Invalid'		
		 DECLARE @SUB INT


	
	IF TRY_PARSE(@P_CARDNUMBER AS BIGINT) IS NULL
		BEGIN
		    SET @CARDTYPE = 'UNKNOWN'			
		END
	ELSE
		BEGIN	
	
		IF LEN(@P_CARDNUMBER) = 15
			BEGIN
				SET @CARDTYPE = CASE WHEN (@P_CARDNUMBER LIKE '34%' OR @P_CARDNUMBER LIKE '37%') THEN 'AMEX' ELSE 'UNKNOWN' END
				
			END
		ELSE IF  LEN(@P_CARDNUMBER) = 16
			BEGIN
				
			    SET @SUB =  CAST(SUBSTRING(@P_CARDNUMBER, 1,4) AS INT)
				IF(@SUB >= 3528 AND @SUB <= 3589)
					BEGIN 
							SET @CARDTYPE = 'JCB' 
							SET @ISVALID = 'Valid'
					END
				ELSE 					
					SET @CARDTYPE =  CASE 
									WHEN @P_CARDNUMBER LIKE '4%' THEN 'VISA' 				 
									WHEN @P_CARDNUMBER LIKE '5%' THEN 'MASTERCARD' 
									ELSE 'UNKNOWN'
									END
					-------------------------MASTERCARD----------------------------------
					IF @CARDTYPE = 'MASTERCARD'
						BEGIN
							DECLARE @NUMBERTOTEST  INT
							SET @NUMBERTOTEST =  CAST(SUBSTRING(@P_EXPRIRYDATE, 3,4) AS INT)

							DECLARE @PRIME_OR_NOTPRIME INT
							DECLARE @COUNTER INT
							DECLARE @RETVAL VARCHAR(10)
							SET @ISVALID = 'Invalid'

							SET @PRIME_OR_NOTPRIME = 1
							SET @COUNTER = 2

							WHILE (@COUNTER <= @NUMBERTOTEST/2 )
							BEGIN

								IF (( @NUMBERTOTEST % @COUNTER) = 0 )
								BEGIN
									SET @PRIME_OR_NOTPRIME = 0
									BREAK
								END

								IF (@PRIME_OR_NOTPRIME = 1 )
								BEGIN
									SET @ISVALID = 'Valid'
								END

								SET @COUNTER = @COUNTER + 1
							END
					  END
					-------------------------VISA----------------------------------
					ELSE IF @CARDTYPE = 'VISA'
						BEGIN
							DECLARE @YEAR  INT
							SET @YEAR =  CAST(SUBSTRING(@P_EXPRIRYDATE, 3,4) AS INT)						
							
							SET @ISVALID =  CASE  WHEN  (@YEAR % 4 = 0 AND @YEAR % 100 <> 0) OR @YEAR % 400 = 0 
												  THEN 'Valid' 
												  ELSE 'Invalid' 
												  END 
						END
					
			END	
         ELSE
			 BEGIN
			   SET @CARDTYPE = 'UNKNOWN'
			 END
	END
    
	
	    
		INSERT  @TAB VALUES(@P_CARDNUMBER,
							@CARDTYPE,
							@ISVALID,
							 CASE WHEN EXISTS (SELECT CREDITCARDID FROM [DBO].[CREDITCARD] WHERE CARDNUMBER = @P_CARDNUMBER )
							    THEN 'exist' 
					            ELSE 'Does not exist'
						      END
		)

		SELECT * FROM  @TAB

	END TRY
	BEGIN CATCH
			DECLARE @L_ERRORMESSAGE	NVARCHAR(4000),
					@L_ERRORSEVERITY	INT,
					@L_ERRORSTATE		INT,
					@L_ERRORNUMBER	INT
			SELECT  @L_ERRORMESSAGE = ERROR_MESSAGE(),
					@L_ERRORSEVERITY = ERROR_SEVERITY(),
					@L_ERRORSTATE = ERROR_STATE(),
					@L_ERRORNUMBER = ERROR_NUMBER()

			PRINT 'ERROR NUMBER: ' + CAST(ERROR_NUMBER() AS NVARCHAR(10))
			PRINT 'ERROR MESSAGE: ' + @L_ERRORMESSAGE
			PRINT 'ERROR STATE: ' + CAST(ERROR_STATE() AS NVARCHAR(10))
			PRINT 'ERROR LINE: ' + CAST(ERROR_LINE() AS NVARCHAR(10))
			PRINT 'ERROR PROC: ' + ERROR_PROCEDURE();	
		
			IF @L_ERRORNUMBER <= 50000
			BEGIN
				RAISERROR(@L_ERRORMESSAGE, 16, 1)
			END
			ELSE
			BEGIN
				RAISERROR(@L_ERRORNUMBER, @L_ERRORSEVERITY, @L_ERRORSTATE, @L_ERRORMESSAGE)
			END
	END CATCH
END