USE [master]
GO
/****** Object:  Database [CreditcardDB]    Script Date: 11/26/2018 3:42:27 AM ******/
CREATE DATABASE [CreditcardDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CreditcardDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CreditcardDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CreditcardDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CreditcardDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CreditcardDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CreditcardDB]
GO
/****** Object:  Table [dbo].[CreditCard]    Script Date: 11/26/2018 3:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditCard](
	[CreditCardID] [int] IDENTITY(1,1) NOT NULL,
	[CardType] [nchar](50) NOT NULL,
	[CardNumber] [nchar](25) NOT NULL,
	[ExpMonth] [tinyint] NOT NULL,
	[ExpYear] [smallint] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL CONSTRAINT [DF_CreditCard_ModifiedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_CreditCard] PRIMARY KEY CLUSTERED 
(
	[CreditCardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CreditCard] ON 

INSERT [dbo].[CreditCard] ([CreditCardID], [CardType], [CardNumber], [ExpMonth], [ExpYear], [ModifiedDate]) VALUES (1, N'Amex                                              ', N'371449635398431          ', 11, 2018, CAST(N'2018-11-25 19:38:53.483' AS DateTime))
INSERT [dbo].[CreditCard] ([CreditCardID], [CardType], [CardNumber], [ExpMonth], [ExpYear], [ModifiedDate]) VALUES (2, N'JCB                                               ', N'3530111333300000         ', 12, 2018, CAST(N'2018-11-25 19:39:32.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CreditCard] OFF
/****** Object:  Index [IX_CreditCard]    Script Date: 11/26/2018 3:42:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_CreditCard] ON [dbo].[CreditCard]
(
	[CreditCardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[ValidateCreditCard]    Script Date: 11/26/2018 3:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ValidateCreditCard]
(
	@P_CARDNUMBER VARCHAR(25),
	@P_EXPRIRYDATE VARCHAR(25)
	
) AS

SET NOCOUNT ON	
BEGIN
	BEGIN TRY
	
	DECLARE @TAB TABLE 
		 (
			CARDNUMBER NVARCHAR(25),
			CARDTYPE  NVARCHAR(50),
			ISVALID NVARCHAR(25),
			ISEXIST NVARCHAR(25)
		 )
		
		 DECLARE @CARDTYPE NVARCHAR(50)
		 DECLARE @ISVALID NVARCHAR(50)
		 SET	 @ISVALID = 'Invalid'		
		 DECLARE @SUB INT


	
	IF TRY_PARSE(@P_CARDNUMBER AS BIGINT) IS NULL
		BEGIN
		    SET @CARDTYPE = 'UNKNOWN'			
		END
	ELSE
		BEGIN	
	
		IF LEN(@P_CARDNUMBER) = 15
			BEGIN
				SET @CARDTYPE = CASE WHEN (@P_CARDNUMBER LIKE '34%' OR @P_CARDNUMBER LIKE '37%') THEN 'AMEX' ELSE 'UNKNOWN' END
				
			END
		ELSE IF  LEN(@P_CARDNUMBER) = 16
			BEGIN
				
			    SET @SUB =  CAST(SUBSTRING(@P_CARDNUMBER, 1,4) AS INT)
				IF(@SUB >= 3528 AND @SUB <= 3589)
					BEGIN 
							SET @CARDTYPE = 'JCB' 
							SET @ISVALID = 'Valid'
					END
				ELSE 					
					SET @CARDTYPE =  CASE 
									WHEN @P_CARDNUMBER LIKE '4%' THEN 'VISA' 				 
									WHEN @P_CARDNUMBER LIKE '5%' THEN 'MASTERCARD' 
									ELSE 'UNKNOWN'
									END
					-------------------------MASTERCARD----------------------------------
					IF @CARDTYPE = 'MASTERCARD'
						BEGIN
							DECLARE @NUMBERTOTEST  INT
							SET @NUMBERTOTEST =  CAST(SUBSTRING(@P_EXPRIRYDATE, 3,4) AS INT)

							DECLARE @PRIME_OR_NOTPRIME INT
							DECLARE @COUNTER INT
							DECLARE @RETVAL VARCHAR(10)
							SET @ISVALID = 'Invalid'

							SET @PRIME_OR_NOTPRIME = 1
							SET @COUNTER = 2

							WHILE (@COUNTER <= @NUMBERTOTEST/2 )
							BEGIN

								IF (( @NUMBERTOTEST % @COUNTER) = 0 )
								BEGIN
									SET @PRIME_OR_NOTPRIME = 0
									BREAK
								END

								IF (@PRIME_OR_NOTPRIME = 1 )
								BEGIN
									SET @ISVALID = 'Valid'
								END

								SET @COUNTER = @COUNTER + 1
							END
					  END
					-------------------------VISA----------------------------------
					ELSE IF @CARDTYPE = 'VISA'
						BEGIN
							DECLARE @YEAR  INT
							SET @YEAR =  CAST(SUBSTRING(@P_EXPRIRYDATE, 3,4) AS INT)						
							
							SET @ISVALID =  CASE  WHEN  (@YEAR % 4 = 0 AND @YEAR % 100 <> 0) OR @YEAR % 400 = 0 
												  THEN 'Valid' 
												  ELSE 'Invalid' 
												  END 
						END
					
			END	
         ELSE
			 BEGIN
			   SET @CARDTYPE = 'UNKNOWN'
			 END
	END
    
	
	    
		INSERT  @TAB VALUES(@P_CARDNUMBER,
							@CARDTYPE,
							@ISVALID,
							 CASE WHEN EXISTS (SELECT CREDITCARDID FROM [DBO].[CREDITCARD] WHERE CARDNUMBER = @P_CARDNUMBER )
							    THEN 'exist' 
					            ELSE 'Does not exist'
						      END
		)

		SELECT * FROM  @TAB

	END TRY
	BEGIN CATCH
			DECLARE @L_ERRORMESSAGE	NVARCHAR(4000),
					@L_ERRORSEVERITY	INT,
					@L_ERRORSTATE		INT,
					@L_ERRORNUMBER	INT
			SELECT  @L_ERRORMESSAGE = ERROR_MESSAGE(),
					@L_ERRORSEVERITY = ERROR_SEVERITY(),
					@L_ERRORSTATE = ERROR_STATE(),
					@L_ERRORNUMBER = ERROR_NUMBER()

			PRINT 'ERROR NUMBER: ' + CAST(ERROR_NUMBER() AS NVARCHAR(10))
			PRINT 'ERROR MESSAGE: ' + @L_ERRORMESSAGE
			PRINT 'ERROR STATE: ' + CAST(ERROR_STATE() AS NVARCHAR(10))
			PRINT 'ERROR LINE: ' + CAST(ERROR_LINE() AS NVARCHAR(10))
			PRINT 'ERROR PROC: ' + ERROR_PROCEDURE();	
		
			IF @L_ERRORNUMBER <= 50000
			BEGIN
				RAISERROR(@L_ERRORMESSAGE, 16, 1)
			END
			ELSE
			BEGIN
				RAISERROR(@L_ERRORNUMBER, @L_ERRORSEVERITY, @L_ERRORSTATE, @L_ERRORMESSAGE)
			END
	END CATCH
END
GO
USE [master]
GO
